
#root{
    height: 100vh;
}
.app{
    height: 100vh;
}
.theme-showcase{
    height: 100vh;
}
.login-left{
    width: 50%;
    height: 100%;
    float: left;
}
.login-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    float: right;
    padding-left: 60px;
    padding-right: 60px;
}
.login-left-bg{
    background-image: url(../img//login_graphics.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.signup-left{
  width: 50%;
  height: 100%;
  float: left;
}
.signup-right{
  width: 50%;
  height: 100%;
  float: right;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}
.signup-left-bg{
  background-image: url(../img/login_graphics.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

/* toggle */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input.success:checked + .slider {
    background-color: #FF7A00;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .otp-box{
    width: 40px;
    height: 40px;;
    border: none;
    border-bottom:2px solid #2196F3; 
  }

@media only screen and (max-width: 768px) {
    .login-left{
        width: 100%;
        height: 22%!important;
    }
    .login-right{
        width: 100%;
        height: 78%!important;
        padding-top: 40px;
        align-items: end;
        padding-left: 0px;
        padding-right: 0px;
    }
    .signup-left{
      width: 100%;
      height: 22%!important;
  }
  .signup-right{
      width: 100%;
      height: 78%!important;
      padding-top: 40px;
      padding-left: 0px;
      padding-right: 0px;
  }
  
  }
