html,body{
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

  .dvdsv{
      display:flex;
      overflow-x:auto;
      overflow-y:hidden;
      -webkit-overflow-scrolling:touch;
      position:relative;
      white-space:nowrap;
      padding-top:3px;
      padding-bottom:16px;
    }

.pribg-color{background-color:#0047FF}
.prif-color{color: #0047FF}
.secf-color{color: #2B2B2B}
.grey-color{color: #626262}
.body-color{background-color: #f2f2f2}
.radius-full {border-radius: 300px}
.yellow-font{color: #E9B500}
.orange-font{color:#FF7A00}
.blackbg{background-color: #000}
.lightBlue{background-color: #F2F6FF}
.redf{color: #FF2525}
.green{color:#00C21F}

.font8{font-size: 0.8rem !important;}
.font9{font-size: 0.9rem;}
.font10{font-size: 1rem;}
.font12{font-size: 1.2rem;}
.font14{font-size: 1.4rem;}
.font16{font-size: 1.6rem;}
.font18{font-size: 1.8rem;}
.font20{font-size: 2rem;}
.font22{font-size: 2.2rem;}
.font24{font-size: 2.4rem;}
.font30{font-size: 3rem;}
.font34{font-size: 3.4rem;}
.font40{font-size: 4rem;}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 8px;
}
.category-list-main{
   width: 100%;
   padding: 10px;
   min-height: 200px;
}
.category-list-main:hover img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.category-list-main:hover{
    border-radius: 5px;
    background: #ffffff;
}
.category-list{
    width: 120px;
    height: 120px;
    border: 6px solid white;
    /* background: #0047FF; */
    overflow: hidden;
    margin: 0 auto;
}
.category-list img{
    width: 100%;
    height: 100%;
    transition: transform .2s ease-out; /* Animation */
}

.owl-carousel.owl-loaded {
	display: inline-block;
}
.img-wrap {
	background-size: cover;
    background-position: bottom;
	height: 300px;
    width: 300px;
}
.img-wrap img {
    visibility: hidden;
}
.parallax { 
    background-image: url("../img/stars.png");
    height: auto; 
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 80% auto;
  }
  footer{
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: #fff;
  }
.footerText {
    color: #2B2B2B!important;
    transition: 0.2s
}
.footerText:hover {
    opacity: 0.8;
}
.loginText{
    color: #fff!important;
    transition: 0.2s
}
.loginText:hover {
    opacity: 0.8;
}
.after-login{
    width: auto;
    display: flex;
    align-items: center;
}
.profile-img{
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 100px;
}
.profile-img img{
    width: 100%;
    height: 100%;
}
.notify-point{
    /* line-height: 0;
    top: -8px;
    right: -3px;
    color: #FF7A00; */
    top: -2px;
    right: -6px;
    color: #fff;
    font-size: 12px;
    background: #FF7A00;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
}
.celeb-bg{
    background-image: url(../img/celeb-bg.png);
    background-repeat: no-repeat;
    background-position:top right;
    background-size: 30%;
    /* height: 400px; */
}

.ReactPlayer-profile {
    width: 100%!important;
    height: 100%!important;
    pointer-events: none;
    background: #f2f2f2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.profile-details-main{
    background: #fff;
}
.ReactPlayer-profile video{
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
    position: relative;
    visibility: initial;
    object-fit: cover;
}
.ReactPlayer {
    width: 100%!important;
    height: 100%!important;
    pointer-events: none;
    background: #f2f2f2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ReactPlayer video {
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
    position: relative;
    visibility: initial;
    object-fit: cover;
}
.ReactPlayerDone {
    width: 100%!important;
    height: 100%!important;
    pointer-events: none;
    background: #f2f2f2;
    border-radius: 10px;
}
.ReactPlayerDone video {
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 400px;
    border-radius: 10px;
    display: block;
    position: relative;
    visibility: initial;
    object-fit: cover;
}

.mutebutton  {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 9;
    color: #fff;
    box-shadow: none!important;
    border: none!important;
}
.btn-follow{
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 9;
    color: #fff;
    box-shadow: none!important;
    border: none!important;
    background: rgba(0,0, 0, 0.5);
    font-weight: 700;
}
.commentbutton  {
    position: absolute;
    bottom: 8px;
    right: 0;
    z-index: 9;
    color: #fff;
    box-shadow: none!important;
    border: none!important;
}
.playbutton  {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0px;
    right: 52%;
    left: 39%;
    top: 42%;
    margin: 0 auto;
    z-index: 9;
    color: #fff;
    box-shadow: none!important;
    border: none!important;
}
.hiden .playbutton i{
    opacity: 0;
}

.hiden:hover .playbutton i {opacity:1;}

.like{
    position: absolute;
    bottom: 8px;
    right: 45px;
    z-index: 9;
    color: #fff;
    box-shadow: none!important;
    border: none!important;
    display: flex;
    align-items: center;
}
.likebutton  {
    color: #fff;
    box-shadow: none!important;
    border: none!important;
}
.btn-follow:hover{
    background: rgba(0,0, 0, 0.5);
    color: #fff;
}

.ReactPlayerMain {
    width: 270px!important;
    height: 400px!important;
    position: relative;
    background: #dddddd;
    border-radius: 10px;
    transition: 0.4s all ease-in;
}
.ReactPlayerMain-shadow{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.70);
    transition: 0.2s all ease-in;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ReactPlayerMain-shadow:hover {
    box-shadow:0px 0px 2px rgba(0, 0, 0, 0.70);
}

.star{
    display: inline;
    margin-top: 5px;
}
.videoBottom{
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    background: #0037c5;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.videoProPik{
    width: 35px;
    height: 35px;
    margin-right: 12px;
    background: #F2F6FF;
    overflow: hidden;
}
.videoProPik img{
    width: 100%;
    height: 100%;
}
.lineHight15{
    line-height: 15px;
}
.blueContainer{
    /* height: 150px;
    margin-bottom: -100px;
    margin-top: 58px; */
    height: 180px;
    margin-bottom: -100px;
}
.blueContainer2{
    height: 200px;
    margin-bottom: -150px;
}
.bookedCeleb{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #F2F6FF;
    overflow: hidden;
    box-shadow: 2px 2px 5px #00000054;
}
.bookedCeleb img{
    width: 100%;
    height: 100%;
}
.idmain{
    width: calc(100% - 60px);
}
.blackWhite{
    color: #fff;
}
.updatepik{
    width: 160px;
    height: 160px;
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.updatepik img{
    width: 70%;
    height: 70%;
}
.camera{
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    right: -8px;
}
.camera img{
    width: 100%;
    height: 100%;
}

.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2B2B2B;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #2B2B2B;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
    box-shadow: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}



.bookedCeleb1{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #F2F6FF;
    overflow: hidden;
    box-shadow: 2px 2px 5px #00000054;
}
.bookedCeleb1 img{
    width: 100%;
    height: 100%;
}
.bookedCeleb2{
    width: 40px;
    height: 40px;
    /* margin-right: 10px; */
    background: #F2F6FF;
    overflow: hidden;
    box-shadow: 2px 2px 5px #00000054;
}
.bookedCeleb2 img{
    width: 100%;
    height: 100%;
}
.idmain1{
    width: calc(100% - 95px);
}
.idmain2{
    width: calc(100% - 50px);
}
.rupees{
    text-align: right;
}
.minmax-height{
    max-height: 400px;
    min-height: 400px;
    overflow: auto;
}
.minmax-height-transac{
    max-height: 300px;
    min-height: 300px;
    overflow: auto;
}
.shadow1{
    box-shadow: 0px 3px 10px rgba(0, 9, 232, 0.15);
}
.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f077";
    float: right; 
    color: #626262;
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f078"; 
}
.booking-cel-name{
    /* width: 100%; */
    height: 97px;
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booking-cel-middle{
    /* width: calc(36% - 100px); */
    width: 270px;
    height: auto;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}
.booking-cel-right{
    width: calc(100% - 270px);
    height: auto;
    float: left;
}
.vertical-name-cel{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.vertical-name-latest{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.latest-right-vid{
    width: 100%;
    height: auto;
    float: left;
}
.shadow-left{
    box-shadow: 329px 0px 0px #0047FF inset;
}
.btn-booking{
    box-shadow: 8px -8px 0px #0000003b;
    transition: 0.4s;
}
.btn-booking:hover{
    box-shadow: 8px -8px 0px #0000008b;
}
.latestVid{
    float: left;
    margin-right: 4rem;
    margin-bottom: 6rem;
}

.searchBox {
    width: 100%;
    padding: 15px 0;
    background: #f2f2f2;
    border-radius: 5px;
    position: absolute;
    z-index: 12;
}
.search-category-list {
    width: 80px;
    height: 80px;
    border: 3px solid white;
}
.search-celebDetails{
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.innerSearchBox{
    max-height: 400px;
    overflow: auto;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    padding-left: 15px; 
    padding-right: 15px;
}
.top11{
    top:11px;
    width: 1rem !important;
    height: 1rem !important;
}
.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 20px;
}
.height-auto{
    min-height: auto!important;
}

.nav-tabs .nav-link.active {
    color: #626262;
    background-color: transparent;
    border: 1px solid !important;
    border-color: #0047FF!important;
    font-size: 16px;
    font-weight: bold;
}
.nav-tabs .nav-link {
    color: #626262;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.totalEarning{
    right: 0px;
    top: -27px;
}
.whiteColor{
    color: #ffffff!important;
}
.customCard{
    width: 100%;
    height: 180px;
    border-radius:5px; 
    background: #ffffff;
}
.video-main{
    width: 270px;
    height: auto;
}
.likePading{
    padding: 7px 8px 1px 8px;
}

@media only screen and (max-width: 1024px) {
    .booking-cel-middle {
        /* width: calc(43% - 100px); */
        height: auto;
        float: left;
    }
    .booking-cel-right {
        /* width: calc(100% - 44% - 100px); */
        height: auto;
        float: left;
    }
    .latestVid{
        float: left;
        margin-right: 1rem;
    }
}
@media only screen and (max-width: 768px) {
    .booking-cel-middle {
        /* width: calc(55% - 100px); */
        height: auto;
        float: left;
    }
    .booking-cel-right {
        /* width: calc(100% - 44% - 100px); */
        height: auto;
        float: left;
    }
    .latestVid{
        float: left;
        margin-right: 2rem;
    }
}
@media only screen and (max-width: 556px) {
    .reversdiv{
        flex-wrap: wrap-reverse;
    }
    .justify-center{
        display: flex;
        justify-content: center;
    }
    .blackWhite{
        color: #000;
    }
    .booking-cel-name {
        width: 100%;
    }
    .booking-cel-middle {
        width: 100%;
        padding-top:1rem!important; 
    }
    .shadow-left{
        box-shadow: none;
    }
    .booking-cel-right {
        width: 100%;
        height: auto;
        /* padding:0 3rem!important; */
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .vertical-name-cel {
        writing-mode: horizontal-tb;
        padding: 1rem 2rem 0rem 2rem;
    }
    .vertical-name-latest{
        writing-mode: horizontal-tb;
        padding: 0rem 2rem 1rem 2rem;
    }
    .latest-right-vid {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .latestVid {
        margin-right: 0rem;
    }
    .after-login {
        flex-wrap: wrap-reverse;
    }
    .profile-img{
        margin-left: 0!important;
    }
    .video-main{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* loader css */
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #0047FF;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.alert-dark {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.79);
    border: 0;
}
.bouncetop{
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
}
.bouncetop.show{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.outeralert{
    position: fixed;
    top: 10%;
     right: 2%;
     z-index: 99;   
     width: auto;
     height: 0;
}
/* loader css */

/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: rgb(221, 221, 221) 0px 0px 0px 0px;
}
header.sticky{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 1px;
}
.homebluecontainer{
    padding-top: 58px!important;
}
span.dropdown-item {
    cursor: pointer;
}
.prl:first-child{
    padding: 0 5px 0 0;
}
.prl{
    padding: 0 0 0 5px; 
}
p.moreless{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .4s;
}
p.moreless:hover {
    width: 100%;
    white-space: normal;
    overflow: auto;
    text-overflow: inherit;
    transition: .4s;
}
/* Header */

/* category */
p.text-center.categ {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    position: relative;
}

p.text-center.categ:before {
    content: '...';
    position: absolute;
    right: 0;
    width: 15px;
    background: linear-gradient(to right, #f2f2f2, rgba(242, 242, 242, 0.94));
}
/* category */

/* shine animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}
div[class*='shiny']{    z-index: 0;
    position: relative;    overflow: hidden;}
    div[class*='shiny']:after {
    content: '';
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 198px;
    position: absolute;
    z-index: 1;
    -webkit-animation: slide 1s infinite;
    animation: slide 1s infinite;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
    }
/* shine animation */

.novideo{
    width: 100%;
    max-height: 100%;
}
.ReactPlayer-profile.preview {
    background: url(../img/novideo.png);
    background-size: cover;
    background-position: center center;
}

/* social media */
.lnnx-modal {
    background-color: rgba(0,0,0,0.85);
    cursor: default;
    /* display: none; */
    display: block;
    height: 0;
    left: 0;
        overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5001;
    transition: .4s;
    opacity: 0;
}
.lnnx-modal.show{
    opacity: 1;
    height: 100%;
}
.lnnx-modal .button-close {
    color: rgba(255,255,255,0.5);
    font-family: 'ff-din-round-web-pro',sans-serif;
    font-size: 64px;
    line-height: 48px;
    padding: 24px;
    text-stroke: 3px #242424;
    -webkit-text-stroke: 3px #242424;
}

.social-share-container .button-close {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 1.8em;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-share-container .button-close i {
    color: rgba(255,255,255,0.5);
    font-size: 64px;
}
.social-share-container .social-buttons-container {
    margin: 15em auto 0;
    width: 55em;
}
.social-share-container .social-caption {
    color: white;
    font-size: 1.5em;
    padding-bottom: 1em;
    text-align: center;
}
.social-share-container .social-button {
    border-radius: 3.5em;
    border: 2px solid white;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 1%;
    position: relative;
    transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -webkit-transition: all .1s;
    width: 23%;
    flex: 0 0 23%;
    display: flex;
}
.social-share-container .social-button.facebook .icon.icon-sharrow {
    background-position: 0 0;
}
.social-share-container .social-button.twitter .icon.icon-sharrow {
    background-position: 0 -205px;
}
.social-share-container .social-button.whatsapp .icon.icon-sharrow {
    background-position:0 -278px;
}
.social-share-container .social-button.linkedin .icon.icon-sharrow {
    background-position: 0 -73px;
}
.social-share-container .social-button.pinterest .icon.icon-sharrow {
    background-position: 0 -141px;
}.wpbflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}.social-share-container .social-button a {
    padding:1.1rem;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #fff;
    text-decoration: none;
}
.social-share-container .social-button .icon.icon-sharrow {
    display: inline-block;
    font-size: 4em;
    left: 50%;
    position: absolute;
    top: 5px;
    background: url(https://i.imgur.com/tn1pFfR.png);
    background-size: 114%;
    transform: translateX(-50%);
}
.social-share-container .social-count {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 1.7em;
    margin-left: 50%;
    padding: -0.65em 0 0 .5em;
}

.social-share-container .social-button:after {
    color: white;
    content: ' ';
    display: block;
    font-size: .8em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 7em;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
}
/* .button-close::after {
    content: "esc";
    display: block;
    font-size: .8rem;
    line-height: 1.0rem;
    text-align: center;
    -webkit-text-stroke: 0;
    text-transform: uppercase;
} */
.social-share-container .social-button.facebook:after {
    content: 'share';
}
.social-share-container .social-button.twitter:after {
    content: 'tweet';
}
.social-share-container .social-button.whatsapp:after {
    content: 'Send';
}
.social-share-container .social-button.linkedin:after {
    content: 'Connect';
}
.social-share-container .social-button.pinterest:after {
    content: 'Pin';
}
.social-share-container .social-button.facebook:hover span.icon.icon-sharrow {
    background-position: -10px 0;
}
  .social-share-container .social-button.facebook:hover {
    background: #3A559F;
    border-color: #3A559F;
}
.social-share-container .social-button.twitter:hover {
    background: #50ABF1;
    border-color:#50ABF1;
}
.social-share-container .social-button.whatsapp:hover {
    background: #1BD741;
    border-color:#1BD741;
}
.social-share-container .social-button.pinterest:hover {
    background: #C9353D;
    border-color: #C9353D;
}
  .social-share-container .social-button.linkedin:hover {
    background: #0084B1;
    border-color: #0084B1;
}
.social-share-container .social-button:hover{cursor:pointer;}
.lnnx-modal .button-close:hover {
    color: white;
    cursor: pointer;
}
/* social media */

.cursorpt{
    cursor: pointer;
}
.detcur{text-decoration:none}
.detcur:hover{text-decoration:#fff}
.idmain .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idmain p {
    margin: 0;
}